ACTION=="add", SUBSYSTEM=="net", ENV{INTERFACE}=="e*", RUN+="/usr/lib/fedora-user-messages/issuegen add $env{INTERFACE}"
ACTION=="remove", SUBSYSTEM=="net", ENV{INTERFACE}=="e*", RUN+="/usr/lib/fedora-user-messages/issuegen remove $env{INTERFACE}"
