[Unit]
Description=Generate console-login-helper-messages motd snippet dynamically
Documentation=https://github.com/coreos/console-login-helper-messages

[Service]
Type=oneshot
# This service expects to be started only on startup.
ExecStart=/usr/libexec/console-login-helper-messages/motdgen

[Install]
WantedBy=multi-user.target
