[Unit]
Description=Warns if mount sources or options for critical system filesystems are incorrect
Documentation=https://github.com/coreos/console-login-helper-messages
Before=systemd-user-sessions.service

[Service]
Type=oneshot
# Service should only run once at boot - set RemainAfterExit=yes.
RemainAfterExit=yes
ExecStart=/usr/libexec/console-login-helper-messages/gensnippet_check_mounts

[Install]
WantedBy=multi-user.target
