[Unit]
Description=Generate /run/issue.d/console-login-helper-messages.issue
Before=systemd-user-sessions.service
Wants=network-online.target
After=network-online.target sshd-keygen.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/console-login-helper-messages/issuegen

[Install]
WantedBy=multi-user.target
