[Unit]
Description=Generate console-login-helper-messages issue snippet
Documentation=https://github.com/coreos/console-login-helper-messages
Before=systemd-user-sessions.service
After=console-login-helper-messages-issuegen.path
# Set rate limit to twice per second just in case. With `ExecStartPre=` below,
# we should not have any systemd 'start-limit-hit' failures.
StartLimitIntervalSec=1
StartLimitBurst=2

[Service]
Type=oneshot
# This service expects to be started repeatedly after exiting (whenever a new
# runtime issue snippet is dropped into the directory watched by
# `console-login-helper-messages-issuegen.path`). `RemainAfterExit` is thus
# explicitly set to `no`, so that the service can re-execute (otherwise,
# `start` on this service after it has exited once before does not have any
# effect).
RemainAfterExit=no
# See https://github.com/coreos/console-login-helper-messages/issues/87
# We want to avoid service start limits and throttle the rate at
# which we regenerate.  This ensures the service starts at most once
# per second.
ExecStartPre=sleep 1
ExecStart=/usr/libexec/console-login-helper-messages/issuegen

[Install]
WantedBy=multi-user.target
