[Unit]
Description=Generate /run/fedora-user-messages.issue
Before=systemd-user-sessions.service
After=sshd-keygen.service

[Service]
Type=oneshot
ExecStart=/usr/lib/fedora-user-messages/issuegen
